rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      // if expired just change the dates on line 7
      allow read, write: if request.time < timestamp.date(2026, 2, 26);
    }
  }
}