@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 165 63% 92%;
    --foreground: 180 25% 20%;
    --card: 165 60% 95%;
    --card-foreground: 180 25% 20%;
    --popover: 165 60% 95%;
    --popover-foreground: 180 25% 20%;
    --primary: 165 100% 69%;
    --primary-foreground: 180 25% 20%;
    --secondary: 165 50% 85%;
    --secondary-foreground: 180 25% 20%;
    --muted: 165 50% 88%;
    --muted-foreground: 180 25% 45%;
    --accent: 160 100% 65%;
    --accent-foreground: 180 25% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 165 30% 80%;
    --input: 165 40% 89%;
    --ring: 165 100% 69%;
    --radius: 0.8rem;
    --chart-1: 165 100% 69%;
    --chart-2: 160 100% 65%;
    --chart-3: 180 25% 45%;
    --chart-4: 165 50% 85%;
    --chart-5: 180 25% 20%;
  }

  .dark {
    --background: 180 10% 10%;
    --foreground: 165 20% 85%;
    --card: 180 10% 12%;
    --card-foreground: 165 20% 85%;
    --popover: 180 10% 12%;
    --popover-foreground: 165 20% 85%;
    --primary: 165 100% 69%;
    --primary-foreground: 180 25% 10%;
    --secondary: 180 10% 17%;
    --secondary-foreground: 165 20% 85%;
    --muted: 180 10% 17%;
    --muted-foreground: 165 20% 65%;
    --accent: 160 100% 65%;
    --accent-foreground: 180 25% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 10% 20%;
    --input: 180 10% 20%;
    --ring: 165 100% 69%;
    --chart-1: 165 100% 69%;
    --chart-2: 160 100% 65%;
    --chart-3: 165 20% 65%;
    --chart-4: 180 10% 17%;
    --chart-5: 165 20% 85%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
